@mixin transition {
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}

@mixin transform($x) {
    transform: translateX($x);
    -webkit-transform: translateX($x);
    -moz-transform: translateX($x);
    -ms-transform: translateX($x);
    -o-transform: translateX($x);
}

@mixin b-r($x) {
    border-radius: $x;
    -webkit-border-radius: $x;
    -moz-border-radius: $x;
    -ms-border-radius: $x;
    -o-border-radius: $x;
}

@mixin flex-f-s {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin Xxxs {
    @media (max-width: 340px) {
        @content;
    }
}

@mixin Xxs {
    @media (max-width: 450px) {
        @content;
    }
}

@mixin Xs {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin Sm {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin Md {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin Md-tab {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin Lg {
    @media (max-width: 1300px) {
        @content;
    }
}